body{
    font-family: monospace;
    background-color: black;
    color: blanchedalmond;
    display: flex;
    height: 98vh;
    
}

#topstuff{
    grid-column: 1;
    
}

#current-track{
    width: 25vw;
}
#playlist{
  width:75vw;
  font-size: 4.11vh;

}
#current-track{
    grid-column: 1;
}
#current-track-name{
    white-space: nowrap;
    width: fit-content;
    margin-block: 0;
    font-size: 250px;
}
#playbackbtns{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
#firstrow{
    font-size: 20px;
    width: 25vw;
    padding-inline: 1%;
    overflow-wrap: anywhere;
    position: relative;
}
#justthebtns{
    display: flex;
    justify-content: space-between;
}
#seek-me-pls{
font-size: 27px;
}
.playlistsong{
    width: 70vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}